$font-color: #5e5e5e;

body {
  color: $font-color;
  background-color: #f9f9f9;
  //font-family: 'Kosugi Maru', sans-serif;
}

.header {
  background-color: #fff;
  .login-button {
    padding: 0;
    padding-right: 8px;
    img {
      background-color: #fff;
      padding: 8px;
      margin-right: 8px;
    }
  }
}

.card {
  transition: all 0.5s;
}
.card:hover {
  color: $font-color;
  transition : all 0.5s;
  transform: scale(1.05);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}