$font-color: #747474;
$bg-color: #e4e4e4;

body {
  color: $font-color;
  background-color: #fff;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
a {
  color: $font-color;
  transition: all 0.5s;
}
a:hover {
  color: $font-color;
  text-decoration: none;
  opacity: 0.5;
}

.loading {
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none;
}

$darken-color: #a8a8a8;
.header {
  background-color: $bg-color;
  .navbar-brand {
    font-size: 24px;
    color: $font-color;
    transition: all 0.5s;
  }
  .navbar-brand:hover {
    opacity: 0.5;
  }
  .login-button {
    color: $font-color;
    font-size: 8px;
    padding: 8px;
    border: 1px solid $darken-color;
    transition: all 0.5s;
    background-color: #fff;
    img {
      background-color: transparent;
      border-right: 1px solid $darken-color;
      padding: 0;
      padding-right: 8px;
      margin-right: 8px;
    }
  }
  .login-button:hover {
    color: #fff;
    background-color: $darken-color;
  }
}

.card {
  transition: all 0.5s;
}
a:hover .card {
  transform: scale(1.05);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.position-top-right {
  font-size: 12px;
  position: absolute;
  top: 0;
  right: 0;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    background-color: $bg-color;
    padding: 16px 0;
    color: $font-color;
    font-size: 8px;
    text-align: center;
    a {
        color: #888;
    }
    a:hover {
        color: #666;
    }
    img {
        -webkit-filter: invert(50%);
        -moz-filter: invert(50%);
        -o-filter: invert(50%);
        -ms-filter: invert(50%);
        filter: invert(30%);
    }
}