$font-color: #585555;
$bg-color: #e4e4e4;

body {
  color: $font-color;
  background-image: url('/images/main.png');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
a {
  color: $font-color;
  transition: all 0.5s;
}
a:hover {
  color: $font-color;
  text-decoration: none;
  opacity: 0.5;
}

.loading {
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none;
}

#content {
  visibility: hidden;

  &.visible {
    visibility: visible;
    animation-duration: .5s;
    animation-name: fade-in;
  }
}
@keyframes fade-in {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  50% {
    visibility: visible;
    opacity: .5;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}

$darken-color: #a8a8a8;
.header {
  .navbar-brand {
    font-size: 24px;
    color: $font-color;
    transition: all 0.5s;
    text-shadow: 1px 1px 0 #fff,
                 -1px 1px 0 #fff,
                 1px -1px 0 #fff,
                 -1px -1px 0 #fff;
  }
  .navbar-brand:hover {
    opacity: 0.5;
  }
  .login-button {
    color: $font-color;
    font-size: 8px;
    padding: 8px;
    border: 1px solid $darken-color;
    transition: all 0.5s;
    background-color: #fff;
    img {
      background-color: transparent;
      border-right: 1px solid $darken-color;
      padding: 0;
      padding-right: 8px;
      margin-right: 8px;
    }
  }
  .login-button:hover {
    color: #fff;
    background-color: $darken-color;
  }

  .dropdown-item:hover {
    color: #fff;
    background: #585555;
  }
}

.grid-wrap {
  column-count: 2;
  @media screen and(min-width: 480px) {
    column-count: 4;
  }

  .grid {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }
}

.side-grid-wrap {
  column-count: 2;

  .side-grid {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    text-shadow: 1px 1px 0 #fff,
                 -1px 1px 0 #fff,
                 1px -1px 0 #fff,
                 -1px -1px 0 #fff;
  }
}

.card {
  background: lighten(#585555, 60%);
  transition: all .5s;

  .card-body {
    padding: 16px;

    .card-title {
      font-size: 1rem;
      margin-bottom: 0;
    }
  
    .card-text {
      font-size: .7rem;
      opacity: .6;
    }
  }
}
a:hover .card {
  box-shadow: 0 0 24px gray;
}

.like {
  cursor: pointer;
}
.grayscale {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}
.grayscale:hover {
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -ms-filter: grayscale(0);
  -o-filter: grayscale(0);
  filter: grayscale(0);
}

.position-top-left {
  font-size: 8px;
  position: absolute;
  top: 0;
  left: 0;
}
.position-top-right {
  font-size: 8px;
  position: absolute;
  top: 0;
  right: 0;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 48px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    padding: 16px 0;
    color: $font-color;
    font-size: 12px;
    text-align: center;
    a {
        color: #888;
    }
    a:hover {
        color: #666;
    }
    img {
        -webkit-filter: invert(50%);
        -moz-filter: invert(50%);
        -o-filter: invert(50%);
        -ms-filter: invert(50%);
        filter: invert(30%);
    }
}

.page-enter-active, .page-leave-active {
  transition: opacity .1s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}